In [1]:
#!jupyter nbextension enable --py gmaps

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store csv created in part one into a DataFrame
city_df=pd.read_csv("../output_data/cities_weather.csv")

In [3]:
city_df

,city,country,latitude,longitude,temperature,humidity,windspeed,cloudiness
0,Butaritari,KI,3.0707,172.7902,80.96,78,14.54,45
1,Sibolga,ID,1.7427,98.7792,76.82,91,2.48,91
2,Mount Darwin,ZW,-16.7725,31.5838,69.64,77,4.03,33
3,Tasiilaq,GL,65.6145,-37.6368,6.80,56,9.22,20
4,Domoni,KM,-12.2569,44.5319,80.92,79,1.30,65
...,...,...,...,...,...,...,...,...
548,Klyuchi,RU,52.2667,79.1667,17.28,96,5.55,14
549,Bucerías,MX,20.7500,-105.3333,73.40,60,5.75,40
550,Nyurba,RU,63.2842,118.3319,12.51,94,7.31,34
551,Kéfalos,GR,36.7453,26.9589,50.00,50,11.50,75
552,Andenes,NO,69.3143,16.1194,38.73,70,14.97,0

In [4]:
# Store csv created in part one into a DataFrame

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [6]:
# Store latitude and longitude in locations
locations = city_df[["latitude", "longitude"]]

# Fill NaN values and convert to float
humidity = city_df["humidity"].astype(float)

In [7]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius=5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Configure gmaps

In [9]:
# Heatmap of humidity

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
new_df = city_df.loc[(city_df["temperature"] > 70) & (city_df["temperature"] < 80) & (city_df["cloudiness"] == 0), :]
new_df = new_df.dropna(how='any')
new_df.reset_index(inplace=True)
del new_df['index']
new_df

,city,country,latitude,longitude,temperature,humidity,windspeed,cloudiness
0,Cockburn Town,TC,21.4612,-71.1419,77.76,74,20.04,0
1,Concepción del Oro,MX,24.6333,-101.4167,72.07,9,7.67,0
2,Pisco,PE,-13.7000,-76.2167,73.40,64,8.05,0
3,Neuquén,AR,-38.9516,-68.0591,73.40,35,4.61,0
4,Farīdkot,IN,30.6667,74.7500,71.38,25,4.05,0
5,Calama,CL,-22.4667,-68.9333,75.20,12,14.97,0
6,Lima,PE,-12.0432,-77.0282,72.70,68,8.05,0
7,Lamar,US,33.6668,-95.5836,72.32,49,1.99,0
8,Ellisras,ZA,-23.6649,27.7443,72.41,32,5.08,0
9,Qena,EG,26.1615,32.7183,71.60,28,9.22,0
10,Puerto del Rosario,ES,28.5004,-13.8627,73.40,53,17.27,0
11,Pirganj,BD,25.8523,88.3618,76.93,10,6.55,0

In [11]:
# Narrow down cities that fit criteria and drop any results with null values

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df =new_df.drop(new_df.loc[:,'temperature':'cloudiness'], axis=1)
hotel_df

                  city country  latitude  longitude
0        Cockburn Town      TC   21.4612   -71.1419
1   Concepción del Oro      MX   24.6333  -101.4167
2                Pisco      PE  -13.7000   -76.2167
3              Neuquén      AR  -38.9516   -68.0591
4             Farīdkot      IN   30.6667    74.7500
5               Calama      CL  -22.4667   -68.9333
6                 Lima      PE  -12.0432   -77.0282
7                Lamar      US   33.6668   -95.5836
8             Ellisras      ZA  -23.6649    27.7443
9                 Qena      EG   26.1615    32.7183
10  Puerto del Rosario      ES   28.5004   -13.8627
11             Pirganj      BD   25.8523    88.3618

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates

In [14]:
hotel_df['Hotel Name']=''
hotel_df

                  city country  latitude  longitude Hotel Name
0        Cockburn Town      TC   21.4612   -71.1419
1   Concepción del Oro      MX   24.6333  -101.4167
2                Pisco      PE  -13.7000   -76.2167
3              Neuquén      AR  -38.9516   -68.0591
4             Farīdkot      IN   30.6667    74.7500
5               Calama      CL  -22.4667   -68.9333
6                 Lima      PE  -12.0432   -77.0282
7                Lamar      US   33.6668   -95.5836
8             Ellisras      ZA  -23.6649    27.7443
9                 Qena      EG   26.1615    32.7183
10  Puerto del Rosario      ES   28.5004   -13.8627
11             Pirganj      BD   25.8523    88.3618

In [15]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
#     "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["latitude"]
    lng = row["longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_name = requests.get(base_url, params=params)
    

    # convert to json
    hotel_name = hotel_name.json()
   

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
#         hotel_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
#         hotel_df.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [16]:
hotel_df

,city,country,latitude,longitude,Hotel Name
0,Cockburn Town,TC,21.4612,-71.1419,Osprey Beach Hotel
1,Concepción del Oro,MX,24.6333,-101.4167,HOTEL HACIENDA SAN JAVIER
2,Pisco,PE,-13.7000,-76.2167,Hotel San Isidro Oficial
3,Neuquén,AR,-38.9516,-68.0591,Hotel del Comahue
4,Farīdkot,IN,30.6667,74.7500,Sangam Hotel
5,Calama,CL,-22.4667,-68.9333,Diego De Almagro Calama
6,Lima,PE,-12.0432,-77.0282,Gran Hotel Bolivar Lima
7,Lamar,US,33.6668,-95.5836,Kings Inn Paris TX
8,Ellisras,ZA,-23.6649,27.7443,Lapa le le guesthouse
9,Qena,EG,26.1615,32.7183,"Grand hotel ""Quena"""
10,Puerto del Rosario,ES,28.5004,-13.8627,Hotel JM Puerto del Rosario
11,Pirganj,BD,25.8523,88.3618,শেখ ছাত্রী নিবাস

In [17]:
# Set parameters to search for a hotel


# Iterate through 

    # get lat, lng from df

    
    # Use the search term: "Hotel" and our lat/lng
   

    # make request and print url
    
    
    # convert to json
   
    
    # Grab the first hotel from the results and store the name

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [23]:
# Add marker layer ontop of heat map
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))